@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  background-image: url(./images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1200px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  margin: auto;
}
h1 {
  font-size: 48px;
  color: black;
  text-align: center;
}
h2 {
  font-size: 28px;
  color: #555555;
}
h3 {
  font-size: 26px;
  color: black;
}
h4 {
  font-size: 19px;
  color: black;
}
h5 {
  font-size: 18px;
  font-weight: 400;
}

.heading {
  font-size: 42px;
  text-align: center;
  margin-bottom: 3rem;
}
p {
  font-size: 17px;
  line-height: 140%;
  margin: auto;
}
.heading-p {
  padding-top: 11rem;
  text-align: center;
}

nav {
  width: 1200px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: rgba(243, 240, 236, 0.501);
}

.name {
  font-size: 2rem;
  font-weight: 400;
}

.name a {
  color: rgb(0, 0, 0);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  transition: 0.3s;
}

.link a {
  padding-bottom: 0.75rem;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link a:hover {
  color: rgb(242, 18, 18);
}

.btn {
  padding: 0.9rem 0.9rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  border-radius: 50px;
  border: solid 2px black;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
}
.btn:hover {
  background-color: rgba(110, 216, 179, 0.717);
  color: rgb(255, 255, 255);
}
.header_container {
  width: 900px;
  display: flex;
  align-items: center;
  margin-top: 12rem;
  padding: 3rem 0rem;
  gap: 3rem;
  justify-content: center;
  background-color: rgba(245, 243, 243, 0.573);
  border-radius: 25px;
}
.profile {
  width: 350px;
  border-radius: 100%;
}

img {
  width: 100%;
  display: block;
}

.header_left {
  text-align: center;
}

.header_left .btn {
  margin-top: 1.3rem;
}

.header_left h1 {
  margin: 1rem;
}
.header_left h3 {
  color: #555555;
}

.about-container {
  width: 830px;
  margin: auto;
  display: grid;
  grid-template-columns: 35% auto;
  gap: 4rem;
  align-items: center;
  margin-bottom: 3rem;
  background-color: rgb(245, 243, 243);
  padding: 2rem;
  border-radius: 20px;
}
.img1 {
  width: 250px;
  margin: auto;
  border-radius: 20px;
}
.about-left {
  padding-top: 2rem;
  border-radius: 20px;
  overflow: hidden;
}

.about-left img {
  transform: scaleX(-1);
}
.edu-box {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 24px;
  text-align: center;
  border: 1px solid #353535;
  border-radius: 30px;
  width: 50%;
}
.about-right {
  text-align: justify;
}

.skills-container {
  max-width: 750px;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 5rem;
}
.skills-box {
  border: solid 1px #555555;
  border-radius: 25px;
  padding: 24px;
  text-align: center;
  background-color: rgb(245, 243, 243);
}
.sk-div ul {
  list-style: none;
  padding: 0;
}

.sk-div ul li {
  font-size: 1.3rem;
}

.project-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}
.project-box {
  border: solid 1px #555555;
  border-radius: 25px;
  padding: 20px;
  background-color: rgb(245, 243, 243);
}

.project-box h4 {
  color: #555555;
  margin-bottom: 1rem;
}
.project-box h3 {
  font-size: 22px;
  color: black;
  margin-bottom: 1rem;
}
.project-box p {
  height: 95px;
  color: #353535;

  padding-top: 2rem;
}

.buttons {
  margin: 1px;
  padding-top: 1rem;
}

.sm-btn {
  font-size: 0.8rem;
  padding: 0.75rem 0.75rem;
}

.contact-container {
  max-width: 36rem;
  border: solid 1px #555555;
  padding: 28px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17rem;
  background-color: rgb(245, 243, 243);
}
.icon1 {
  max-width: 32px;
  height: max-content;
}
.gmail,
.linkedin,
.github,
.instagram {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.contact-container a:hover {
  color: #f21d1dd9;
}
